﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="StaffSalaries.WebUI.Default" %>
<%@ Register Src="~/EmployeeList.ascx" TagName="EmployeeList" TagPrefix="uwc" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
<form id="form1" runat="server">
    <div>
        <uwc:EmployeeList runat="server" XmlConfigFile="~/EmployeeListControlConfig.xml"/>
    </div>
</form>
</body>
</html>